server {
    listen {{ http_port }} default_server;
    listen [::]:{{ http_port }} default_server;
    
    {% if https_port is defined %}
    listen {{ https_port }} ssl;
    listen [::]:{{ https_port }} ssl;
    {% endif %}
    
    server_name {{ ansible_hostname }};
    
    root {{ deploy_dir }};
    index index.html index.htm;
    
    location / {
        try_files $uri $uri/ =404;
    }
    
    location /api {
        proxy_pass http://localhost:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
    
    # Additional configuration
    access_log /var/log/nginx/{{ app_name }}-access.log;
    error_log /var/log/nginx/{{ app_name }}-error.log;
}
